* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #FF8C42;
    --secondary-color: #FCAF58;
    --tertiary-color: #F9C784;
    --white: #ffffff;
    --accent-color: #4E598C;
}
body {
    background-color: var(--white);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:x-large;
    line-height: 1.75;
}
/* apply styles to <header> */
header {
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: var(--tertiary-color);
    color: var(--accent-color)
}
header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
    color: var(--accent-color);
}
header a {
    text-decoration: none;
    color: var(--accent-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
header nav ul li {
    background-color: var(--accent-color);
    border-radius: 15px;
    margin: 2px;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
    color: var(--white);
}
/* end <header> */

/* hero style start */
#hero {
    background-color: var(--primary-color);
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-attachment: fixed;
    background-position: 80%;
}
#hero-text {
    background-color: var(--white);
    padding: 10px 15px;
    margin: 15px auto;
    width: 30%;
    border-style: solid 1px var(--secondary-color);
    margin: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-color: var(--accent-color);
    border-width: 3px;
    border: solid;
    font-size:smaller;
}
#hero-img {
    color: var(--secondary-color);
    border-style: solid 1px var(--secondary-color);
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hero-img img {
    width: 100%;
    border-radius: 15px;
}
/* hero styles end */

/* form style begin */
.userInput {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    margin: 3%;
    padding: 20px 35px;
    font-size: larger;
    text-shadow: 0 0 10px black;
    border-radius: 15px;
}
form label {
    line-height: 1.5;
    margin: 2px;
}
.radio-btn, 
.checkbox-btn {
    margin: auto 10px;
}
.form-submit {
    background-color: var(--secondary-color);
    font-size: 1.1vw;
    font-weight: lighter;
    color: var(--white);
    margin: auto;
}

/* card element styles begin */
.gridEl {
    display: flex;
}
.cardEl {
    font-size: 0.9vw;
    margin: 10px;
}
.cardEl h3 {
    margin: 0;
}
.cardElHeader {
    background-color: var(--secondary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--accent-color);
    padding: 10px 25px;
    margin: 0;
}
.cardElBody {
    background-color: var(--tertiary-color);
    color: var(--accent-color);
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}