* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #FF8C42;
    --secondary-color: #FCAF58;
    --tertiary-color: #F9C784;
    --white: #ffffff;
    --accent-color: #4E598C;
}
body {
    background-color: var(--white);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: calc(1em + 1vw);
    line-height: 1.75;
}
/* apply styles to <header> */
.top-bar {
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: var(--tertiary-color);
    color: var(--accent-color)
}
.top-bar-title {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    text-shadow: 0 0 10px rgba (0, 0, 0, 0.5);
    color: var(--accent-color);
}
.menu {    
    text-decoration: none;
    color: var(--accent-color);
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--white);    
    border-radius: 15px;
    margin: 2px;

}
/* end <header> */

/* hero style start */
#hero {
    background-color: var(--primary-color);
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-attachment: fixed;
    padding: 30px;
}
#hero-text {
    background-color: var(--white);
    padding: 10px 15px;
    border-style: solid 1px var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-color: var(--accent-color);
    border-width: 3px;
    border: solid;
}
#hero-img {
    color: var(--secondary-color);
    border-style: solid 1px var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 15vw;
    height: 15vw;
}
#hero-img img {
    width: 100%;
    border-radius: 15px;
}
/* hero styles end */

/* form style begin */
form {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
    margin: 50px 0 0 25px;
    padding: 20px 35px;
    text-shadow: 0 0 10px black;
    border-radius: 15px;
}
form label {
    color: var(--secondary-color);
    font-size: 100%;
    line-height: 1.5;
    margin: 2px;
}
.radio-btn, 
.checkbox-btn {
    margin: auto 10px;
}
.input {
    border-radius: 10px;
    font-size: 75%;
}
.form-submit {
    background-color: var(--secondary-color);
    font-size: 100%;
    font-weight: lighter;
    color: var(--white);
    margin: auto;
    padding: 1rem 4rem;
    border-radius: 10px;
    margin: 10px;
}

/* card element styles begin */
.cardEl {
    display: flex;
    flex-direction: column;
    margin: 50px 25px 0;
}
.cardElHeader p {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: larger;
}
.cardElHeader {
    background-color: var(--secondary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--accent-color);
    padding: 10px 25px;
    margin: 0;
}
.cardElBody {
    background-color: var(--tertiary-color);
    color: var(--accent-color);
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* footer styles */
.contact {
    background-color: var(--primary-color);
    padding: 10px
}
footer {
    background-color: var(--tertiary-color);
    margin: 50px 0 0 0;
}
.menu {
    display: flex;
    justify-content: space-around;
}
.message-submit {
    margin: 20px 10px 10px 10px;
}